/* colors.co/colors.so has color palletes which are colors blending with each other very proficiently and thus we can use these colors for our website */
body {
    font-family: Arial, Helvetica, sans-serif; /* alag alag fonts alag-alag browsers ke liye hai, ek nahi chala kisi me to dusra use ho jaayega */
    padding: none; /* padding: 2px 4px 5px 6px */
    margin: none;
}

#hover {
    text-align: right; /* basically flexbox of text, divs ko align karne ke liye flexbox and text ke liye text-align */
    line-height: 50px; /* property used for creating space between lines of a text shit */
    border: dotted; /* there are other options too like solid and dashed */
}

#hover:hover {
    text-decoration: line-through; /* aur bhi values hai jaise underline, useful property for hovering over buttons */
    /* Another use-case of this is when we want to remove the underlines from links and anchor tags */
}

#hover:active { /* psuedo class for clicking the button/ tapping the button */
    display: none; /* property for hiding the inner text of the element */
}

/*  Utility classes  */

.flex {
    display: flex;
}

.justify-content-evenly {
    justify-content: space-evenly; /* for aligning text in center, just use p tag to write the text and then use those classes like flex and justify content and align items in center */
    align-items: center;
}

.outerWrapper {
    padding: 5%;
    margin: 5%;
}

/*   main Classess   */

#circle-div {
    background-color: #212121;
    color: #ffffff;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(188, 210, 238);
    border-radius: 50%; /* takes 50% border-radius and since this is a square div, therefore the div will look like a circle since we've radius half of diameter */
}
