body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #111111;
  color: #f9f9f9;
}

.faIcons {
  display: grid;
  place-items: center ;
}

.travel-card-menu {
  display: flex;
  justify-content: space-around;
  margin: 0% 2% 0% 2%;
}

.travel-card {
  height: 50vh;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 25% 25% 50%;
  box-sizing: border-box; /* this ensures that the border and padding are included in the total height and width of the div */
}

.upper-travel-div {
  background-color: #0a45a3;
  border: 3px solid #083b8f;
  border-radius: 5px;
  padding: 0% 2% 0% 2%;
  box-sizing: border-box;
}

.center-travel-div  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
}

.center-travel-div-content {
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: #103971;
  margin: 2% 0% 2% 0%;
  border-radius: 5px;
}

.upper-section-center-travel-div-content {
  display: grid;
  place-content: center;
}

.lower-section-center-travel-div-content {
  border-top: solid 3px #2b4f84;
  display: flex;
  justify-content: space-around;
}

#call-icon-container {
  display: flex;
  justify-content: space-around;
}

.props-children-wala-area {
  margin: 2%;
}
