* {
    background-color: #212121;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(2, 1fr);
}

.container-with-bg {
    width: clamp(200px, 50%, 700px);
    height: clamp(100px, 50%, 500px);
    background-image: url(gray_line_drawings_of_organic_shapes_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 3px #BBCBCB;
    border-radius: 5px;
}